<div class="card mr-5 ml-5">
    <div class="card-header bg-dark">
        <p class="mt-2" style="color: rgb(224, 231, 231);font-size: 30px;font-weight: 800;">Edit</p>
    </div>
    <div class="card-body">
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Name</label>
                <input type="email" class="form-control" id="inputName">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Lastname</label>
                <input type="password" class="form-control" id="inputLastname">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input type="email" class="form-control" id="inputEmail">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Password</label>
                  <input type="password" class="form-control" id="inputPassword">
                </div>
              </div>
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" id="inputAddress">
            </div>
            <div class="form-group">
                <label for="inputTelephone">Tel.</label>
                <input type="number" class="form-control" id="inputTel">
            </div>
           <button class="btn btn-success mr-1">Confirm</button>
           <button class="btn btn-primary">Back</button>
          </form>
    </div>
</div>