<div class="card mr-5 ml-5">
    <div class="card-header bg-dark">
        <p class="mt-2" style="color: rgb(224, 231, 231);font-size: 30px;font-weight: 800;">Add Student</p>
    </div>
    <div class="card-body">
        <form [formGroup]="formAdd" (ngSubmit)="addData()">
            <div class="form-row">
                <div class="form-group col">
                    <label for="studentName">Name</label>
                    <input formControlName="studentName" [ngClass]="{'is-invalid': submit && f.studentName.errors}" type="text" class="form-control" id="studentName">
                </div>
                <div class="form-group col">
                    <label for="studentAge">age</label>
                    <input formControlName="studentAge" [ngClass]="{'is-invalid': submit && f.studentAge.errors}" type="number" class="form-control" id="studentAge">
                </div>
                <div class="form-group col">
                    <label for="studentTel">Tel.</label>
                    <input formControlName="studentTel" [ngClass]="{'is-invalid': submit && f.studentTel.errors}" type="text" class="form-control" id="studentTel">
                </div>
            </div>
            <button type="submit" class="btn btn-success mr-1">Confirm</button>
            <button class="btn btn-primary" routerLink="/view-form">Back</button>
        </form>
    </div>
</div>