<div class="card mr-5 ml-5" id="styleCard">
    <div class="card-header bg-dark">
        <p class="mt-2" id="fontStyle">Edit teacher</p>
    </div>
    <div class="card-body">
        <form [formGroup]="formTeacherEdit" (ngSubmit)="editData()" *ngIf="getData != undefined">
            <div class="form-row">
                <div class="form-group col">
                    <label for="teacherName">Name</label>
                    <input formControlName="teacherName" [(ngModel)]="getData.teacherName" [ngClass]="{'is-invalid': submit && f.teacherName.errors}" type="text" class="form-control" id="teacherName">
                    <div class="invalid-feedback" *ngIf="submit && f.teacherName.errors">
                        <div id="validatorsStyle" *ngIf="f.teacherName.errors.required">Required</div>
                        <div id="validatorsStyle" *ngIf="f.teacherName.errors.pattern">a-z, A-Z</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="teacherTel">Tel</label>
                    <input formControlName="teacherTel" [(ngModel)]="getData.teacherTel" [ngClass]="{'is-invalid': submit && f.teacherTel.errors}" type="text" class="form-control" id="teacherTel">
                    <div class="invalid-feedback" *ngIf="submit && f.teacherTel.errors">
                        <div id="validatorsStyle" *ngIf="f.teacherTel.errors.required">Required</div>
                        <div id="validatorsStyle" *ngIf="f.teacherTel.errors.pattern">0-9</div>
                        <div id="validatorsStyle" *ngIf="f.teacherTel.errors.maxlength">no more 10</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="subjectTaught">Subject</label>
                    <input formControlName="subjectTaught" [(ngModel)]="getData.subjectTaught" [ngClass]="{'is-invalid': submit && f.subjectTaught.errors}" type="text" class="form-control" id="subjectTaught">
                    <div class="invalid-feedback" *ngIf="submit && f.subjectTaught.errors">
                        <div id="validatorsStyle" *ngIf="f.subjectTaught.errors.required">Required</div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success mr-1">Confirm</button>
            <button class="btn btn-primary" routerLink="/view-form">Back</button>
        </form>
    </div>
</div>